@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Удаление записи выплаты</h1>
</div>
<div class="container mt-2">
    <div class="card">
        <div class="alert alert-warning mt-3 mx-3" role="alert">
            Вы уверены, что хотите удалить запись выплаты? Восстановить данные будет невозможно.
        </div>
        <ul class="list-group mx-3">
            <li class="list-group-item"><b>ИД:</b> @Model.Id</li>
            <li class="list-group-item"><b>Должность:</b> @Model.Job.Title</li>
            <li class="list-group-item"><b>Имя сотрудника:</b> @Model.Job.Employee.FullName</li>
            <li class="list-group-item"><b>Дата выплаты:</b> @Model.Date.ToShortDateString()</li>
        </ul>
        <form method="post" asp-action="DeletePayout" asp-controller="Payouts">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger my-3 ml-3" asp-action="DeletePayout">Удалить</button>
        </form>
    </div>
</div>
